<div class="mx-auto w-full max-w-7xl px-4 py-4 sm:px-6 sm:py-6 lg:px-8">

  <div class="mb-6">
    <app-facturas-header (exportar)="exportarPDF()">
    </app-facturas-header>
  </div>

  <!-- Resumen -->
  <app-facturas-resumen [stats]="resumenStats"></app-facturas-resumen>

  <!-- Filtros -->
  <app-facturas-filtros (filtrosChange)="cargarFacturas($event, 1)"></app-facturas-filtros>

  <!-- Tabla -->
  <app-facturas-tabla [facturas]="facturas" [isLoading]="isLoading" [totalItems]="totalItems"
    [currentPage]="currentPage" [itemsPerPage]="itemsPerPage" [totalPages]="totalPages"
    (imprimir)="imprimirIndividual($event)" (pagoRealizado)="onPagoRealizado()" (pageChange)="onPageChange($event)">
  </app-facturas-tabla>

</div>
