<div class="container mx-auto p-6">

  <div class="mb-6">
    <app-facturas-header
      (exportar)="exportarPDF()">
    </app-facturas-header>
  </div>

  <!-- Resumen -->
  <app-facturas-resumen [facturas]="facturas"></app-facturas-resumen>

  <!-- Filtros -->
  <app-facturas-filtros (filtrosChange)="cargarFacturas($event)"></app-facturas-filtros>

  <!-- Tabla -->
  <app-facturas-tabla 
    [facturas]="facturas" 
    [isLoading]="isLoading"
    (imprimir)="imprimirIndividual($event)"
    (pagoRealizado)="cargarFacturas({})">
  </app-facturas-tabla>

</div>
