<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 space-y-6">
    
    <app-metrics-cards></app-metrics-cards>
  
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mt-8">

      <div class="lg:col-span-2">
        <app-recent-members></app-recent-members>
        
      </div>

      <div>

        <app-quick-actions></app-quick-actions>
        
        <div class="my-6"></div>
        
        <app-notifications></app-notifications>
      </div>
      
    </div>
    

    
  </div>

 
  