@import "tailwindcss";

@layer utilities {
    .notif-red    { @apply bg-red-50    border-red-200    text-red-700; }
    .notif-yellow { @apply bg-yellow-50 border-yellow-200 text-yellow-700; }
    .notif-blue   { @apply bg-blue-50   border-blue-200   text-blue-700; }
  }
  