<!-- Encabezado -->
<div class="flex items-center justify-between mx-[4cm] mb-[0.5cm]">
  <!-- Título -->
  <div class="flex items-center space-x-3">
    <lucide-icon name="package" class="w-6 h-6 text-gray-800"></lucide-icon>
    <div>
      <h2 class="text-2xl font-semibold text-gray-900">Gestión de Productos</h2>
      <p class="text-sm text-gray-500">Administra los productos del gimnasio</p>
    </div>
  </div>

  <!-- Botón -->
  <button
    (click)="nuevoProducto()"
    class="bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700 transition"
    >
    + Nuevo Producto
  </button>

</div>

<!-- Formulario -->
@if (mostrarFormulario) {
  <app-productos-formulario
    (close)="mostrarFormulario = false"
    (save)="onGuardarProducto($event)"
    [initialData]="productoEditando"
  ></app-productos-formulario>
}

<!-- Búsqueda y lista -->
<div>
  <app-productos-busqueda (buscar)="buscarProductos($event)"></app-productos-busqueda>
  <app-productos-lista
    [searchTerm]="terminoActual"
    (edit)="onEditarProducto($event)"
    (deleted)="onProductoEliminado()"
  ></app-productos-lista>
</div>

<!-- Toast de éxito -->
@if (toastVisible) {
  <div
    class="fixed top-6 right-6 bg-green-600 text-white px-4 py-2 rounded-lg shadow-lg z-50"
    >
    {{ toastMessage }}
  </div>
}
